 /*===General styles===*/
* {
  box-sizing: border-box;
}
/*==paragraph style===*/
  
p {
  font-size: 1rem;
  font-family: 'Space Mono', monospace;
}
/*===Nav bar==*/
nav {
  background-color: #000;
  padding: 1rem;
  
}
nav a {
  display: block;
  text-decoration: none;
  font-family: "space mono", monospace;
  text-align: center;
  padding: .5rem 1rem;
  color: #fff;
}
nav a:hover {
  color: #ccc;
  transition: color .2s ease-in-out;
}
.sign-up {
  border: .1px solid grey;
  border-radius: 9999px;
}
.sign-up:hover {
  color: #000;
  background-color: #fff;
  transition: background-color .2s ease-in-out;
}

@media (min-width:768px) {
  nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

  nav a {
  float: right;
  }
 .home {
  float: left;
  }

  /* Clearfix */
    nav::after {
    content: "";
    clear: both;
    display: block;
  }

  body {
    width: 60%;
    margin: 5.25rem auto 1.25rem;
  }

p {
  margin-bottom: 1.25rem;
  padding: .5rem;
}
